.contact-edit-page {
    padding-top: 30px;
    form > * {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    label {
        margin-right: 10px;
    }
    button {
        display: block;
        margin: 0 auto 20px;
    }
}