.contact-edit-page {
    padding-top: 30px;

    form > * {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    label {
        margin-right: 10px;
    }

    .save-btn {
        display: block;
        margin: 0 auto 20px;
    }

    .actions {
        margin: 30px auto;
        width: 400px;
        display: flex;
        justify-content: space-between;

        img {
            width: 25px;
        }

        button {
            background-color: inherit;
            border: none;
            cursor: pointer;
        }
    }
}