.contact-preview {
	background-color: #008e9b;
	width: 150px;
	height: 200px;
	border: 2px solid #bdbcbc;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	margin: 10px;
	text-align: center;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	img {
		width: 70px;
        margin: 0 auto;
	}
}
