$clr1: #0077b6;
$clr2: #f0f5f9;
$clr3: #000c3e;
$clr4: #60adf1;
$clr5: #42b983;
$clr6: #a9d6f6;

header {
    background-color: $clr1;
	color: $clr2;
	padding: 30px 40px;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {
		font-size: 30px;
		font-weight: bold;
		font-family: GreatVibes, serif;
	}

	nav {
        display: flex;
        
		> * {
			text-decoration: none;
			color: $clr2;
			font-size: 18px;
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 15px;
			}

			&:hover {
				opacity: 0.6;
			}
		}

		.active-nav {
			color: $clr5;
		}
	}
}

